/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Arial';
  src: url('webfonts/Arial-Mdm.woff') format('woff'),
      url('webfonts/Arial-Mdm.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('webfonts/ArialMT.woff') format('woff'),
      url('webfonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('webfonts/Arial-BoldMT.woff') format('woff'),
      url('webfonts/Arial-BoldMT.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme__color1: #FF0057;
  --inter: 'Inter', sans-serif;
  --arial: 'Arial';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--arial);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    /* max-width: 1140px; */
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1275px;
  }
}




/* header */
.header-section {
  padding: 11px 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  color: #000;
}
.header-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {

}
.main-menu > ul {
  gap: 43px;
  display: flex;
} 
.main-menu.main-menu--2 > ul {
  gap: 18px;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-size: 11px;
  font-weight: 500;
  transition: 0.3s;
  font-family: var(--inter);
}
.main-menu > ul > li > a:hover {
  color: var(--theme__color1);
}
/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: var(--theme__color1);
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
}
.offcanvas-close:hover {
  color: var(--theme__color1);
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #000;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 7px;
  font-weight: 500;
}
.mobile-menu li a:hover {
  color: var(--theme__color1);
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  min-height: 826px;
  position: relative;
  z-index: 2;
}
.hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-video-bg video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  flex-shrink: 0;
}
/* ---hero-section---end */


/* ---common--- */
.h2 {
  font-size: 65px;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}
.h3 {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.h-p {
  font-size: 20px;
}
/* ---common---end */


/* ---about-section--- */
.about-section {
  padding: 70px 0;
} 
.about-section__inner {

}

.about-content-outer {
  position: relative;
}
.about-bear-1 {
  width: 356px;
  top: 55px;
  right: 50px;
  position: absolute;
}
.about-bear-2 {
  width: 342px;
  right: 190px;
  position: absolute;
  bottom: 25px;
}
.about-content {
  width: 704px;
  max-width: 100%;
}
.about-content .abg-bd {
  padding-right: 130px;
}
.abg {
  margin-bottom: 100px;
}
.abg h2 {

}
.abg .h3 {

}
.abg h4 {
  font-size: 17px;
  margin-bottom: 10
  px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 400;
}
/* ---about-section---end */


/* ---fashion-section--- */
.fashion-section {
  padding: 70px 0;
}

.fashion-slider {

}
.fashion-slider .owl-dots {
	position: absolute;
	top: 0px;
	right: 150px;
}
.fashion-slide {
  position: relative;
  z-index: 1;
  color: #000;
}
.fashion-slide .slide-bg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 65px);
	z-index: -1;
}
.fashion-slide .container {
  z-index: 10;
  position: relative;
}
.fashion-slide__inner {
  
}
.fashion-slide-content {
  
}
.fashion-slide-content__title {
  
}
.fashion-slide-content__title .h2 {
  
}
.fashion-slide-content__title .h2 .white {
  display: block;
  color: white;
}
.fashion-slide-content__body {
  max-width: 500px;
  min-height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fashion-slide-content__body .abg {
  margin-bottom: 40px;
}
.fashion-slide-content__body .abg p {
  font-size: 20px;
}
.fashion-slide-content__body .abg .h3 {
  letter-spacing: 5px;
}
.fashion-slide-content__body .abg h4 {
  font-size: 24px;
}

.slider-dots-1 .owl-dots {
  display: flex;
  gap: 14px;
}
.slider-dots-1 .owl-dot {
  height: 36px;
  width: 36px;
  background: #736F6F !important;
  transition: 0.3s;
  border-radius: 50%;
}
.slider-dots-1 .owl-dot.active,
.slider-dots-1 .owl-dot:hover {
  background: #D9D9D9 !important;
}
/* ---fashion-section---end */


/* ---artist-section--- */
.artist-section {
  padding: 70px 0;
}
.artist-section__inner {

}
.artist-section__title {
  display: flex;
  gap: 17px;
}
.artist-section__title .bdr-number {
  font-size: 128px;
  line-height: 1;
  color: #000;
  text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.62349px 0.781832px 0px, rgb(255, 255, 255) -0.222521px 0.974928px 0px, rgb(255, 255, 255) -0.900969px 0.433884px 0px, rgb(255, 255, 255) -0.900969px -0.433884px 0px, rgb(255, 255, 255) -0.222521px -0.974928px 0px, rgb(255, 255, 255) 0.62349px -0.781832px 0px;
}
.artist-section__title .h2 {

}

.artist-all-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.artist-single {
  gap: 20px;
  display: flex;
  align-items: center;
}
.artist-single--1 {
  margin-top: -145px;
  margin-left: 50%;
}
.artist-single--2 {
  margin-top: 10px;
}
.artist-single--3 {
  margin-top: 150px;
  gap: 35px;
  margin-left: auto;
  flex-direction: column;
}
.artist-single--4 {
  margin-left: 30%;
  gap: 35px;
  margin-top: -110px;
  flex-direction: column;
}
.artist-single__image {
  height: 320px;
  width: 320px;
  border-radius: 50%;
}
.artist-single__image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.artist-single__cont {

}
.artist-single__cont h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.artist-single__cont h5 {
  font-size: 24px;
  margin-bottom: 0;
  color: #000;
  text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.62349px 0.781832px 0px, rgb(255, 255, 255) -0.222521px 0.974928px 0px, rgb(255, 255, 255) -0.900969px 0.433884px 0px, rgb(255, 255, 255) -0.900969px -0.433884px 0px, rgb(255, 255, 255) -0.222521px -0.974928px 0px, rgb(255, 255, 255) 0.62349px -0.781832px 0px;
}
/* ---artist-section---end */


/* ---tik-section--- */
.tik-section {
  padding: 85px 0;
}
.tik-section__inner {

}

.tik-row {
  display: flex;
  align-items: flex-end;
}
.tik__image {

}
.tik__image .img {

}
.tik__box {
  margin-right: -44px;
  border-radius: 4px;
  background: #000;
  padding: 33px;
  position: relative;
  z-index: 2;
}
.tik__box h3 {
  min-width: 286px;
  margin-bottom: 28px;
  line-height: 1;
  color: #FFF;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.tik__box .button {

}
/* ---tik-section---end */


/* ---faq-section--- */
.faq-section {
  padding: 80px 0;
}
.faq-section__inner {

}
.faq-section__title {
  margin-bottom: 74px;
}
.faq-section__title .h3 {
  letter-spacing: 6px;
}

.faqs-wrap {
  width: 73%;
}
.s-faq {
  border-bottom: 1px solid #fff;
}
.s-faq:first-child {
  border-top: 1px solid #fff;
}
.s-faq__title {
  padding: 44px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-faq__title h3 {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 105.882% */
  letter-spacing: 0.68px;
}
.s-faq__title .ind::after {
  font-size: 20px;
  content: '\f067';
  font-family: "Font Awesome 5 Pro";
  transition: 0.3s;
  display: block;
}
.s-faq__title:not(.collapsed) .ind::after {
  content: "\f068";
  transform: rotate(180deg);
}
.s-faq__body {

}
.s-faq__body__inner {
  padding: 0 50px 50px 0;
}
.s-faq__body p {
  line-height: 1.2;
  font-size: 17px;
  letter-spacing: 0.68px;
}
.s-faq__body ol {
  padding-left: 25px;
}
/* ---faq-section---end */


/* ---help-section--- */
.help-section {
  padding: 80px 0;
}
.help-section__inner {

}

.help-section__row {
  align-items: center;
}
.help-content {

}
.help-content .h3 {
  margin-bottom: 40px;
  letter-spacing: 8px;
  line-height: 1.03;
}
.hp-anc {
  margin-top: 45px;
  min-height: 54px;
  padding: 5px 19px;
  width: 348px;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.75px; /* 137.5% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.hp-anc:hover {
  background: var(--theme__color1);
  color: #fff;
  border-color: transparent;
}
.hp-anc .icon {
  font-size: 20px;
}
.hp-anc .txt {

}
.hp-anc .arr-tr {
  font-size: 16px;
  margin-left: auto;
}
.fa-rotate-315 {
  transform: rotate(315deg);
}

.help__image {
  width: 100%;
}
.help__image .img {
  width: 100%;
}
/* ---help-section---end */


/* ---cta-section--- */
.cta-section {
  margin: 80px 0;
  padding: 46px 0;
  background: linear-gradient(90deg, #000 18.23%, #B1DA47 47.92%);
}
.cta-section__inner {

}

.cta-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-content .h2 {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-bx {
  padding: 10px 47px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80px;
  text-transform: uppercase;
  background: #000;
  color: #FFF;
  font-size: 36px;
  font-weight: 600;
  line-height: 47px; /* 130.556% */
  letter-spacing: 0.43px;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn-bx:hover {
  background: var(--theme__color1);
}
/* ---cta-section---end */


/* ---footer-section--- */
.footer-section {
  padding: 100px 0 0;
}
.footer-section__inner {

}

.footer-top-row {

}
.footer-logo-column {

}
.footer-logo {
  margin-bottom: 100px;
  display: inline-block;
}
.fs-menu {
  gap: 20px;
  display: flex;
}
.fs-menu li {

}
.fs-menu li a {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.fs-menu li a:hover {
  background: var(--theme__color1);
  border-color: transparent;
}

.footer-menu {

}
.footer-menu h4 {
  font-size: 16px;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
}
.footer-menu ul {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.footer-menu ul li {

}
.footer-menu ul li a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  transition: 0.3s;
}
.footer-menu ul li a:hover {
  color: var(--theme__color1);
}

.footer-bottom {
  margin-top: 40px;
  padding: 38px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.63);
  display: flex;
  justify-content: center;
}
.copy-right {
  font-size: 16px;
  text-align: center;
}
/* ---footer-section---end */